{% extends 'base.html' %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}

    {% if object %}
        <h1>Atualiza Departamento</h1>
    {% else %}
        <h1>Cria Novo Departamento</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if object %}
            <button class="btn btn-outline-primary">Atualizar</button>
        {% else %}
            <button class="btn btn-outline-primary">Gravar</button>
        {% endif %}

    </form>
{% endblock %}