{% extends 'base.html' %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h5>Resposta Padrão</h5>
        </div>
        <div class="col">
            <a href="{% url 'resposta_padrao_list' %}"
                class="btn btn-sm btn-outline-primary">
                <i class="fas fa-arrow-alt-circle-left"></i>
                Voltar
            </a>
        </div>
    </div>
</div>
    <div class="container d-flex justify-content-center">
            <form method="POST" > {% csrf_token %}
                <strong>{{ pergunta.texto_da_pergunta }}</strong>
                <div class="col border">
                {% bootstrap_formset formset layout='horizontal' %}
                </div>
                {% buttons %}
                    <button type="submit"
                            class="btn btn-outline-success btn-block">
                        <i class="fas fa-save"></i>
                        Gravar
                    </button>
                {% endbuttons %}
            </form>
    </div>
</form>
{% endblock %}