{% extends 'base.html' %}

{% block content %}
    <div class="container border">
        <h1 class="text-center">Como Funciona</h1>
        <div class="row text-center border">
            <div class="col border">
                <a href="" class="btn btn-primary btn-block">
                    Para quem avalia
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut consectetur consequatur consequuntur culpa ea eos explicabo impedit in ipsa laborum modi molestiae necessitatibus nulla odio, optio placeat recusandae reiciendis, sequi sint, ut veniam veritatis voluptas! Accusamus dolorum nesciunt rerum?</p>
            </div>
            <div class="col border ">
                <a href="" class="btn btn-primary btn-block">
                    Para quem quer ser avaliado
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae earum expedita molestiae provident tempore tenetur veniam voluptate voluptatibus. Autem consectetur, dolor earum est ex fuga ipsa iusto, minus quo rem soluta tempora ut! Amet cupiditate dicta eos facere ipsa labore minima natus saepe? Accusantium harum, neque reiciendis similique tempore voluptas? Accusantium blanditiis, consequatur deserunt ex labore maiores quae qui quos tenetur. Ad beatae dolores est eum ex facilis harum illo, impedit iure maiores molestiae nesciunt nostrum possimus voluptatem voluptatum.</p>
            </div>
        </div>
    </div>

{% endblock %}