{% extends 'base.html' %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <h5>Evento</h5>
        </div>
        <div class="col">
            <a href="{% url 'evento_list' %}"
                class="btn btn-sm btn-outline-primary">
                <i class="fas fa-arrow-alt-circle-left"></i>
                Voltar
            </a>
        </div>
    </div>
</div>
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-outline-success btn-block">
                Gravar
            </button>
        {% endbuttons %}
    </form>

{% endblock %}